.about {
    background-color: #ce365b;
    min-height: 94vh;
    margin-top: 6vh;
    display: flex;
    

}

@media only screen and (max-width: 600px){
    .about {
        background-color: #ce365b;
        min-height: 94vh;
        margin-top: 6vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }
}