.bug-bounty-container {
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  color: #FFFFFF;
  background: black;
  padding: 30px 10%;
  align-items: center;

}

a {
  color: white;
}

h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  margin: 40px 0 20px;
}

.bug-bounty-content h2 {
  counter-increment: section;
}

.bug-bounty-content h2::before {
  content: counter(section) '. ';
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media only screen and (max-width: 950px) {
  .bug-bounty-container {
    width: 100%;
    text-align: left;
    padding: 30px;
    box-sizing: border-box;
  }
}
