@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700&display=swap');

.company-content-mobile {
    display: flex;
    flex-direction: column;
    background: black;
    min-height: 100vh;
    /* Add more styles as needed */
}

.about-mobile {
    flex: 1;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 162px;
}

.heading-about-mobile {
    color: #FFF;
    text-align: center;
    width: 668px;
    font-family: Geologica;
    font-size: 60px;
    font-weight: 900;
    line-height: 130%;
    letter-spacing: 3px;
}

.about-mobile p {
    color: #FCFCFC;
    text-align: center;
    font-family: Geologica;
    width: auto;
    font-size: 24px;
    font-weight: 300;
    line-height: 200%;
}

.people-mobile {
    text-align: center;
    color: #FFF;
}

.people-mobile h2 {
    font-family: Geologica;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%; /* 37.5px */
    letter-spacing: -1.2px;
}

/* Add these styles to your existing CSS file */

.people-mobile {
    text-align: center;
    align-items: center;
}

.people-mobile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 160px;
    gap: 70px;
    /*grid-auto-columns: auto;*/
    /*grid-auto-rows: auto;*/
    justify-content: center;
    align-items: center;
}

.person-card-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.person-image-mobile {
    width: 201.24px;
    height: 201.24px;
    flex-shrink: 0;
    border-radius: 50%;
    object-fit: cover;
}

.person-details-mobile {
    margin-top: 15px;
    text-align: center;
}

.person-name-mobile {
    color: #FCFCFC;
    font-family: Geologica;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}

.person-position-mobile {
    color: #999;
    font-family: Outfit;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}



/* Add more styles as needed */
.play-store-award-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px;
    background: linear-gradient(102deg, #08082E 7.87%, #08082E 36.92%, #0A0A2E 48.02%, #09092D 49.4%, #383345 62.29%, #111136 82.6%, #080A32 97.88%, rgba(8, 8, 46, 0.00) 115.33%);
    /* Add more styles as needed */
}

.play-store-info-mobile {
    color: #FCFCFC;
    font-family: Geologica;
    font-size: 24px;
    font-weight: 400;
    line-height: 200%;
    text-align: left;
}

.play-store-info-mobile p {
    margin: 0; /* Remove default margin for paragraphs */
}

.play-store-info-mobile p:first-child {
    font-size: 24px; /* Adjust the size as needed */
}

.play-store-info-mobile p:last-child {
    font-size: 42px; /* Adjust the size as needed */
    font-weight: 800;
}

.play-store-image-mobile {
    width: 470px;
    height: 264px;
    flex-shrink: 0;
    border-radius: 43px;
    background: url('../assets/images/best-for-fun.png') lightgray 50% / cover no-repeat;
    /* Add more styles as needed */
}